body{
  height:100vh;
  background: url("/static/img/fondo7.jpg") no-repeat center center fixed;
    background-size: cover;
}

.container {
  width: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)
}

.bg-cosmere{
    background-color: #fe9600;
}

.card-bg-login{
    background-color: rgba(218, 233, 247, 0.5);
}

.card-bg-password{
    background-color: rgba(217,163,65, 1);
    border-radius: 5%
}

.assign-button {
    width: 90px;
    white-space: normal;
    border: 1px solid #d9a341;
    border-radius: 0.25em;
    box-shadow: 0 0.25em 0 0 #d9a341;
    background: white;

}
.assign-button:hover {
    background-color: #feb040
}


.bg-coppermind-yellow{
    background-color: #d9a341;
}

.bg-coppermind{
    background-color: #89341f;
}

.bg-coppermind-dark{
    background-color: #451A0F;
}

.bg-coppermind-soft{
    background-color: #dae9f7;
}
