{% extends "../base/base.html" %}
{% load static %}
{% block content %}
<h1 class="text-coppermind-yellow title_pages_coppermind text-center">VIGILANTE DE LA TRADUCCIÓN</h1>
<div class="contenedor">
    {% for user_item in users_list %}
        {% if user_item.status == 'resting' %}
             <div class="card tarjeta bg-coppermind-yellow">
                 <a href="/perfil/{{ user_item.username }}"> {{ user_item.username }} </a>
                 <p>{{ user_item.last_movement}}</p>
                 <div class="boton-container">
                     <form method="POST" id="form-gregorio"  name="form-gregorio">
                         {% csrf_token %}
                         <input type="hidden" name="username" value="{{user_item.username}}">
                         <button class="assign-button-resting " type="submit" name="status" value="Resting" disabled>Descanso</button>
                         <button class="assign-button-resting " type="submit" name="status" value="Inactive">Inactivo</button>
                         <button class="assign-button-resting " type="submit" name="status" value="Active">Activo</button>
                    </form>
                </div>
            </div>
        {% else %}
            <div class="card tarjeta bg-coppermind-soft">
                 <a href="/perfil/{{ user_item.username }}"> {{ user_item.username }} </a>
                <p  style="color:{{ user_item.color }}">{{ user_item.last_movement}}</p>
                <div class="boton-container">
                    <form method="POST" id="form-gregorio"  name="form-gregorio">
                         {% csrf_token %}
                         <input type="hidden" name="username" value="{{user_item.username}}">
                         <button class="assign-button" type="submit" name="status" value="Resting">Descanso</button>
                         <button class="assign-button" type="submit" name="status" value="Inactive">Inactivo</button>
                         <button class="assign-button" type="submit" name="status" value="Active" disabled>Activo</button>
                    </form>
                </div>
            </div>
        {% endif %}
        {% if forloop.counter|divisibleby:4 and not forloop.last %}
                    <div class="fila"></div>
        {% endif %}
    {% endfor %}
</div>
{% endblock %}